.appWrap {
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
  display: block;
}

.appStore,
.googlePlay {
  position: absolute;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  left: 63.03%;
  width: 16.5%;
}

.appStore {
  top: 47.38%;
  height: 8.63%;
}

.googlePlay {
  top: 59%;
  height: 8.64%;
}
