.appWrap {
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
  display: block;
}

.appStore,
.googlePlay {
  position: absolute;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  left: 62.97%;
  width: 16.49%;
}

.appStore {
  top: 54.28%;
  height: 10.65%;
}

.googlePlay {
  top: 68.42%;
  height: 10.65%;
}
