.hero {
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
  display: block;
}

.ctaOrder,
.ctaMenu {
  position: absolute;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

.ctaOrder {
  left: 37.57%;
  width: 12.64%;
  top: 81.25%;
  height: 4.99%;
}

.ctaMenu {
  left: 51.67%;
  width: 10.48%;
  top: 81.13%;
  height: 5.23%;
}
